extend base

block main
  .container
    .articleInformation
      span= `撰寫人:${data.author}`
    .articleInformation
      span= `撰寫時間:${data.create_time}`
    hr
    .row
      .col-6
        span= `作品名稱:${data.title}`
      .col-6
        span= `作品公司:${data.company}`
    .row
      .col-6
        span= `開始遊玩時間:${data.start_time}`
      .col-6
        span= `結束遊玩時間:${data.end_time}`
    hr
    .as
      h3 OP:
      #op.videobox
        iframe(src=`${data.op_url}`, title='YouTube video player', allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share', allowfullscreen='')
    hr
    div
      h3 心得:
      span !{data.content}