extend base

block css
  link(rel='stylesheet', href='/stylesheets/mainPage.css')

block main 
  .mainBlock__galgameArticle.row.wow.animate__jackInTheBox
    div
      span#galgameArticleTitle.galgameArticle__title
    each article in datas
      .galgameArticle__content.col-4
        a(href=`galgamearticle/${article["title"]}`)
          h4.galgameArticle__contentTitle= article["title"]
          h6 
            i.fa-solid.fa-pen-nib.fa-fade
            |  #{article["author"]}
          h6
            i.fa-solid.fa-clock.fa-fade
            |  #{article["create_time"]}
          - let tag_name = article["tag"].split(',') 
          h6(style="margin-top:30px")
            i.fa-sharp.fa-solid.fa-tags.fa-bounce
            each tag in tag_name
              a(href=`/galgameTag/${tag}`)
                span.galgameArticle__tags= tag
              | .
  .mainBlock__mainArticle.row.wow.animate__jackInTheBox
    .mainArticle__img.col-5
    .mainArticle__main.col-7
      h4 MLTD 3D模組MMD教學
      .mainArticle__inf
        i.fa-regular.fa-calendar-check.fa-bounce.fa-lg 
        |  2022/08/20
        |  || 
        i.fa-solid.fa-at.fa-flip.fa-lg
        |  SeaotterMS
      div
        span MLTD 3D模組MMD教學的教學
      .mainArticle__tag
        i.fa-sharp.fa-solid.fa-tags.fa-beat-fade.fa-lg
        |  程式設計